.front-page {
  padding-top: 7rem;
}
@media screen and (max-width: 400px) {
  .front-page {
    padding-top: 10rem;
  }
}
.front-page__menu--card {
  background-color: #333333;
  border-radius: 20px;
  padding: 2rem 1rem;
  margin-inline: 1rem;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 768px) {
  .front-page__menu--card {
    margin-bottom: 2rem;
  }
}
.front-page__menu--card .front-page__menu--bg {
  position: absolute;
  background-color: #ff9100;
  width: 70px;
  height: 70px;
  border-radius: 70px;
  top: -68px;
  right: -51px;
  margin: 0;
  padding: 0;
  z-index: 1;
  transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.front-page__menu--card .front-page__menu--bg_hover {
  position: absolute;
  background-color: #333333;
  width: 75px;
  height: 75px;
  border-radius: 75px;
  top: -68px;
  right: -51px;
  margin: 0;
  padding: 0;
  z-index: 1;
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  transform: scale(0);
  z-index: 14;
}
.front-page__menu--card h4, .front-page__menu--card p, .front-page__menu--card strong {
  transition: all 0.2s ease-in-out;
  z-index: 11;
  position: relative;
}
.front-page__menu--card p {
  color: #e7e7e7 !important;
  margin-block: 1rem;
}
.front-page__menu--card .material-symbols-outlined {
  padding: 0.2rem;
  background: rgba(255, 255, 255, 0.1568627451);
  border-radius: 24px;
  align-self: flex-end;
  z-index: 14;
}
.front-page__menu--card:hover .front-page__menu--bg {
  width: 500px;
  height: 500px;
}
.front-page__menu--card:hover h4, .front-page__menu--card:hover p, .front-page__menu--card:hover strong {
  color: #e7e7e7 !important;
}
.front-page__menu--card:hover .front-page__menu--bg_hover {
  transform: scale(1);
}
.front-page__menu--card:hover .material-symbols-outlined {
  padding: 0.2rem;
  background: rgba(47, 32, 22, 0.631372549);
  border-radius: 24px;
  align-self: flex-end;
}
.front-page__menu--card div {
  position: relative;
  z-index: 11;
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  margin-block: 2rem;
  margin-inline: auto;
}

.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #FFF;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}

.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
#root {
  margin: auto;
  text-align: center;
}

:root {
  --secondary-text-color: $secondary-text-color;
  --secondary-text-color-hover: #ffa631;
  --main-light-color: #dbdbdb;
  --main-dark-color: #232323;
}

h1,
p {
  color: #dbdbdb !important;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  padding: 0.2rem;
  background: rgba(255, 255, 255, 0.1568627451);
  border-radius: 24px;
  align-self: flex-end;
}

.dark-theme {
  background-color: #232323;
}

.dark-theme h1,
.dark-theme p,
.dark-theme li {
  color: #dbdbdb !important;
}

.light-theme {
  background-color: #f4f4f4;
}

.light-theme h1,
p,
input {
  color: #232323 !important;
}

h2,
h3,
h4,
h5,
strong,
a,
span {
  color: #ff9100 !important;
}

.light-theme a,
.light-theme strong {
  color: #ff9100 !important;
}

.dark-theme button {
  background-color: var(--secondary-text-color);
  color: #232323;
}

.dark-theme button:hover {
  background-color: var(--secondary-text-color-hover);
  border-color: transparent;
  color: #232323;
}

li {
  list-style: none;
}

.light-theme input {
  background-color: rgba(221, 221, 221, 0);
  border: 2px solid #c3c3c3;
  border-radius: 7px;
  color: #232323;
  padding: 0.8rem 1rem;
}

.dark-theme .navbar {
  background-color: #313131;
}

.light-theme .navbar {
  background-color: #313131;
}

#github-logo {
  width: 30px;
  display: flex;
  border-radius: 30px;
  background-color: #e7e7e7;
  margin-inline: 10px;
  transition: all 0.1s ease;
}

#github-logo:hover {
  background-color: #ff9100;
}

.dark-theme .btn {
  background-color: #e7e7e7 !important;
}
.dark-theme input {
  border: 1px solid #535353;
  border-radius: 7px;
  padding: 0.8rem 1rem;
  background-color: #3c3c3c;
  color: #e7e7e7 !important;
}
.dark-theme .form-control::-moz-placeholder {
  color: #c5c5c5 !important;
}
.dark-theme .form-control::placeholder {
  color: #c5c5c5 !important;
}
.dark-theme .form-control:focus {
  background-color: #232323;
}
.dark-theme .border {
  border: 1px solid #e7e7e7 !important;
}

.light-theme .btn {
  background-color: #333333;
  color: #e7e7e7;
}
.light-theme input {
  border: 1px solid #c5c5c5;
  outline: none;
}
.light-theme input:focus-visible {
  outline: none;
}
.light-theme .border {
  border: 1px solid #c5c5c5 !important;
}

.main-container {
  min-width: 100vw !important;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#input-useEffect {
  width: min(400px, 90%);
}

.container-themes {
  width: min(900px, 95%);
  min-height: 100vh;
  margin: auto;
  display: flex;
}

.focus-use-ref__input:focus {
  box-shadow: 1px -1px 20px -5px var(--secondary-text-color);
  -webkit-box-shadow: 1px -1px 20px -5px var(--secondary-text-color);
  -moz-box-shadow: 1px -1px 20px -5px var(--secondary-text-color);
  transition: all 0.2s ease;
}

input:focus-visible {
  outline: none;
}

.chronometer-time {
  width: 105px;
  display: flex;
}

.component__container {
  padding-top: 8rem;
}
@media screen and (max-width: 403px) {
  .component__container {
    padding-top: 12rem;
  }
}/*# sourceMappingURL=styles.css.map */